html, body {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
    font-size: 12px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 8px 24px 8px 24px;
}

h1 {
    color: darkcyan;
}

h2 {
    color: #40a070;
}

section {
    padding: 8px;
    background-color: #2e2e2e;
    margin: 8px;
    color: #ffffff;
}

.checked-result {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
}

.checked-result.error {
    background-color: #ff5555;
}

.checked-result.success {
    background-color: #00cc66;
}